@import "./components/modern-normalize.min";
// @import "./components/_reset";
@import "./components/_fonts";
@import "./components/_global";
@import "./components/_vars";

@import "./components/_header";
@import "./components/_social";
@import "./components/_logo";
@import "./components/_button";
@import "./components/_hero";

@import "./components/_fotter";

// @import "./components/_rightside-menu";

@import "./components/_nav";
@import "../../node_modules/slick-carousel/slick/slick.scss";
// @import "./../../node_modules/swiper/swiper-bundle";
@import "./components/_clients";
// @import "./components/_social-media";
@import "./components/_feature";
// @import "./components/_collection";
@import "./components/_headlines";
@import "./components/_portfolio";
@import "./components/_work-proc";
@import "./components/_slick-dots";
// @import "./components/_tabs-buttons";
// @import "./components/_blog-box";
// @import "./components/_breadcrumbs";
// @import "./components/_about";
// @import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox";
// @import "./components/_inspiration";
// @import "./components/_partners";
// @import "./components/_map";
// @import "./components/_contacts";
// @import "./components/_contacts-slider";
// @import "./components/_blog";
// @import "./components/_aside";
// @import "./components/_tags";
// @import "./components/_pagination";
// @import "./components/_blog-one";
// @import "./components/_comments";