.button {
  color: var(--white);
  background-color: var(--black);
  @extend %syne-600;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 5px;
  @include transition ($transition-property: all);
  
  &__svg {
    width: 13px;
    height: 16px;
    fill: var(--white);
  }
  
  &--section {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: calc(5px + (14 - 5) * ((100vw - 300px)/ (1200 - 300)));
    min-width: 12.5em;
    min-height: 3.125em;
    padding: calc(5px + (14 - 5) * ((100vw - 300px)/ (1200 - 300)));
    
  }

  @media (hover: hover) {
    &:hover {
      color: var(--black);
      background-color: var(--white);
      border: 1px solid var(--black);

      &:hover {
        .button__svg {
          fill: var(--black);
        }
      }
    }
  }
}