.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(5px + (14 - 5) * ((100vw - 300px)/ (1200 - 300))); 
  min-width: 12.5em;
  min-height: 3.125em;
  padding: calc(5px + (14 - 5) * ((100vw - 300px)/ (1200 - 300)));
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;

  &__svg {
    width: 13px;
    height: 16px;
    fill: var(--white);
  }
}