.clients {
  padding-top: calc(30px + (80 - 30) * ((100vw - 300px)/ 900));
  padding-bottom: calc(30px + (80 - 30) * ((100vw - 300px)/ 900));

  &__inner {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: calc(20px + (65 - 20) * ((100vw - 300px)/ 900));
    gap: 54px;
  }

  &__content {
    max-width: 190px;
    width: 100%;
  }

  &__text {
    width: 100%;
    position: relative;
    margin-right: calc(26px + (46 - 26) * ((100vw - 300px)/ 900));
    padding: 0 10px;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 100px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background-color: var(--black);
    }
  }

  @media screen and (width < 1169px) {

    &__list {
      flex-wrap: wrap;
    }

    &__item {
      flex-basis: calc((100% - 108px) / 3);
    }
  }
  
  @media screen and (width < 641px) {
    &__list {
      row-gap: 25px;
    }
    &__link-img {
      width: 45px;
      height: auto;
    }
  }
  @media screen and (width < 481px) {
    &__item {
      flex-basis: 33%;
    }
  }

  @media screen and (width < 341px) {
      display: none;
  }
}