.feature {
  margin-top: calc(25px + (68 - 25) * ((100vw - 300px)/ 900));
  margin-bottom: calc(25px + (76 - 25) * ((100vw - 300px)/ 900));


  &__inner {
    display: flex;
    align-items: center;
    column-gap: calc(25px + (120 - 25) * ((100vw - 300px)/ 900));
  }

  &__content {
    max-width: 370px;
    width: 100%;
  }

  &__text {
    margin-bottom: 39px;
  }


  &__works {
    min-width: 670px;
    width: 100%;


    &-list {
      max-width: 670px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      // column-gap: calc(25px + (130 - 25) * ((100vw - 300px)/ 900));
      // row-gap: calc(15px + (85 - 15) * ((100vw - 300px)/ 900));
    }

    &-inner-content {
      max-width: 178px;
      width: 100%;
      margin-left: 10px;
    }

    &-item {
      display: flex;
      flex-basis: calc((100% - calc(25px + (130 - 25) * ((100vw - 300px)/ 900))) / 2);
      position: relative;

      @media screen and (width > 971px) {

        &:nth-child(odd):after {
          content: '';
          position: absolute;
          background-color: var(--black);
          width: 1px;
          max-height: 151px;
          height: 100%;
          top: 8px;
          right: (calc(19px + (-65 - 19) * ((100vw - 300px)/ 900)));
        }

        &:nth-child(-n+2)::before {
          content: '';
          position: absolute;
          background-color: var(--black);
          max-width: calc(200px + (250 - 200) * ((100vw - 300px)/ 900));
          width: 100%;
          height: 1px;
          // bottom: calc(-6.5px + (-42.5 - 6.5) * ((100vw - 300px)/ 900));
          bottom: 0;

        }

        &:nth-child(1)::before {
          left: calc(30px + (0 - 30) * ((100vw - 300px)/ 900));
        }

        &:nth-child(2)::before {
          right: calc(89px + (0 - 89) * ((100vw - 300px)/ 900));
        }

        &:nth-child(3) {
          padding-top: 45px;
        }

        &:nth-child(4) {
          padding-top: 45px;
        }

        &--mr {
          margin-right: auto;
          padding-bottom: 45px;
        }

        &-content {
          margin-bottom: 25px;
        }
      }

      & svg {
        width: 70px;
        height: 70px;
      }
    }

    &-btn {
      color: var(--black);
      @extend %syne-600;
      font-size: 13px;
      line-height: 140%;
      display: flex;
      align-items: center;
      gap: 6px;

      & svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  @media screen and (width < 971px) {
    &__content {
      max-width: 45%;
    }

    &__works {
      min-width: 50%;
    }

    &__works-list {
      flex-direction: column;
    }

    &__works-item {
      padding-bottom: 20px;
      margin-bottom: 20px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        background-color: var(--black);
        width: 70%;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        bottom: 0;
      }
    }

    &__works-inner-content {
      max-width: 100%;
    }

    &__works-item-content {
      padding: 0 10px 30px 0;
    }
  }

  @media screen and (width < 641px) {
    &__inner {
      display: block;
    }

    &__content {
      max-width: 100%;
    }

    &__text {
      padding: 0 10px;
    }

    &__works {
      margin-top: 50px;
    }
  }

}