.footer {
  padding-top: calc(30px + (80 - 30) * ((100vw - 300px)/ (1200 - 300)));
  padding-bottom: calc(30px + (50 - 30) * ((100vw - 300px)/ (1200 - 300)));

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: calc(25px + (66 - 25) * ((100vw - 300px)/ 900));
    border-bottom: 1px solid var(--black);
  }

  &__content {
    max-width: 370px;
    padding-right: calc(15px + (65 - 15) * ((100vw - 300px)/ (1200 - 300)));

    @media screen and (width > 955px) {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 241px;
        background: #000;
        right: 0;
      }
    }

    &-text {
      padding-top: calc(10px + (24 - 10) * ((100vw - 300px)/ (1200 - 300)));
      padding-bottom: calc(12px + (27 - 12) * ((100vw - 300px)/ (1200 - 300)));
      color: var(--link);
    }


    &-copyright {
      color: var(--black);
      font-size: 0.8125em;
      letter-spacing: 2.6px;
      text-transform: uppercase;
    }
  }

  &__container {
    display: flex;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    max-width: 132px;
    width: 100%;

    @media screen and (width > 955px) {
      margin-left: calc(15px + (55 - 15) * ((100vw - 300px)/ 900));
    }

    .subtitle-5 {
      @media screen and (width > 955px) {
        margin-left: -0.788em;
      }

      margin-bottom: calc(10px + (27 - 10) * ((100vw - 300px)/ 900));
    }

    & &-list {
      list-style-type: disc;
      display: block;
      line-height: 250%;
      margin: 0;
    }

    &-link {
      font-size: inherit;
      color: inherit;
      font-family: Syne;
    }
  }

  &__contacts {
    @media screen and (width > 955px) {
      margin-left: calc(15px + (69 - 15) * ((100vw - 300px)/ 900));
    }


    .subtitle-5 {
      margin-bottom: calc(10px + (27 - 10) * ((100vw - 300px)/ 900));
    }

    &-item {
      margin-bottom: 21px;
    }

    &-link {
      color: inherit;
      @extend %syne-400;
      font-style: normal;
      font-size: inherit;
      line-height: 140%;
    }
  }

  &__subscribe {
    @media screen and (width > 955px) {
      margin-left: calc(15px + (35 - 15) * ((100vw - 300px)/ 900));
    }

    .subtitle-5 {
      margin-bottom: calc(10px + (27 - 10) * ((100vw - 300px)/ 900));
    }

    &-text {
      margin-bottom: calc(9px + (26 - 9) * ((100vw - 300px)/ 900));
    }
  }

  &__form {
    max-width: 271px;

    &-input {
      width: 100%;
      margin-bottom: 21px;
      padding-bottom: 7px;
      font-size: 0.875em;
      border: none;
      border-bottom: 1px solid var(--black);
      background-color: transparent;

      &::placeholder {
        color: #888;
        font-family: inherit;
        font-size: inherit;
        font-style: normal;
        font-weight: 400;
      }
    }

    &-button {
      color: var(--black);
      @extend %syne-500;
      font-size: 0.875em;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: calc(4px + (11 - 4) * ((100vw - 300px)/ 900));
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: calc(25px + (50 - 25) * ((100vw - 300px)/ 900));
  }

  &__social {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  &__policy {

    &-list {
      display: flex;
      align-items: center;
      gap: calc(7px + (20 - 7) * ((100vw - 300px)/ 900));
    }

    &-item:not(:last-child) {
      padding-right: calc(7px + (20 - 7) * ((100vw - 300px)/ 900));
      border-right: 1px solid #888;
    }

    &-link {
      color: var(--link);
      font-family: Plus Jakarta Sans;
      font-size: inherit;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  @media screen and (width < 955px) {

    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__content {
      max-width: 100%;
      width: 100%;
      margin-bottom: 35px;
    }

    &__container {
      gap: 35px;
      justify-content: space-between;
    }

    &__nav {
      padding-left: 10px;
    }


    &__subscribe {
      max-width: 33%;
    }
  }

  @media screen and (width < 641px) {
    &__container {
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 15px;
      gap: 30px 10px;
    }

    &__subscribe {
      max-width: 100%;
    }

    &__policy {
      margin-top: 30px;
    }
  }

  @media screen and (width < 641px) {
    &__bottom {
      flex-direction: column;
      padding-top: 15px;
    }
  }
}