.header {
  &__inner {
    padding-top: 0.625rem;
    padding-bottom: calc(10px + (31 - 10) * ((100vw - 300px)/ (1200 - 300)));;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--black);
  }

  &__menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: calc(5px + (34 - 5) * ((100vw - 300px)/ (1200 - 300)));
    margin-left: calc(10px + (182 - 10) * ((100vw - 300px)/ (1200 - 300)));
    margin-right: calc(10px + (28 - 10) * ((100vw - 300px)/ (1200 - 300)));
  }


  &__menu-link {
    color: var(--link);
    font-family: Syne;
    text-transform: uppercase;
    @include transition ($transition-property: color);

    &--active {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--black);
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  &__btn {
    position: relative;
    margin-left: (calc(5px + (30 - 5) * ((100vw - 300px)/ (1200 - 300))));
    margin-right: (calc(5px + (30 - 5) * ((100vw - 300px)/ (1200 - 300))));
    min-width: 130px;
    min-height: 40px;
    border-radius: 5px;
    background: var(--black);
    padding: 5px;
    font-family: Syne;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
    border: 1px solid transparent;
    @include transition ($transition-property: all);

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 25px;
      height: 1px;
      top: 50%;
      bottom: 0;
      background-color: var(--black);
      transform: rotate(90deg);
    }

    &::before {
      left: -2.6875em;
    }

    &::after {
      right: -2.5625em;
    }
  }

  @media (hover: hover) {
    &__menu-link:hover {
      color: var(--black);
    }

    &__btn:hover {
      background-color: var(--white);
      color: var(--black);
      border: 1px solid var(--black);

    }
  }

}