.header {
  &__inner {
    position: relative;
    padding-top: 0.625rem;
    padding-bottom: calc(10px + (31 - 10) * ((100vw - 300px)/ 900));

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__wrapp {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }


  &__btn-menu {
    display: none;
    order: 1;
    z-index: 3;

    span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: var(--black);
      border-radius: 4px;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }


  &__btn {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    min-width: 130px;
    min-height: 40px;
    padding: 5px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 25px;
      height: 1px;
      top: 50%;
      bottom: 0;
      background-color: var(--black);
      transform: rotate(90deg);
    }

    &::before {
      left: -2.6875em;
    }

    &::after {
      right: -2.5625em;
    }
  }


  @media screen and (width < 971px) {

    &__inner {
      row-gap: 5px;
    }

    &__wrapp {
      margin-left: auto;
    }
  }

  @media screen and (width < 955px) {
    &__inner {
      position: relative;
      padding-bottom: 0.625rem;
    }

    &__btn {
      min-height: fit-content;
    }
  }

  @media screen and (width < 641px) {

    &__btn-menu {
      display: block;
    }

    & hr {
      display: none;
    }

    &__btn {
      width: 40%;
      margin-bottom: 35px;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}