.hero {
  padding-top: calc(30px + (70 - 30) * ((100vw - 300px)/ (1200 - 300)));
  padding-bottom: calc(22px + (52 - 22) * ((100vw - 300px)/ (1200 - 300)));

  &__img-bg {
    max-width: 30%;
  }

  &__title {
    max-width: 751px;
    margin: 0 auto;
    margin-top: -85px;
    padding-left: calc(22px + (62 - 22) * ((100vw - 300px)/ (1200 - 300)));
    text-align: center;
    font-family: Syne;
    font-size: calc(30px + (80 - 30) * ((100vw - 300px)/ (1200 - 300)));
    color: var(--black);
    font-weight: 600;
    line-height: 1.2;
    position: relative;
    &::before {
      position: absolute;
      width: 84px;
      height: 84px;
      content: url(/app/images/src/icons/decor1.svg);
      top: -90px;
      right: -65px;
    }
  }

  &__inner {
    display: flex;
    // gap: calc(22px + (56 - 22) * ((100vw - 300px)/ (1200 - 300)));
    margin-top: 34px;
  }

  &__content {
    position: relative;
    &::before {
      width: 80px;
      height: 80px;
      position: absolute;
      content: url(/app/images/src/icons/decor2.svg);
      bottom: -19px;
      left: -42px;
    }
  }

  &__text {
    margin-top: calc(22px + (46 - 22) * ((100vw - 300px)/ (1200 - 300)));
    max-width: 470px;
    margin-bottom: calc(20px + (40 - 20) * ((100vw - 300px)/ (1200 - 300)));
  }


  &__wrapp {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    align-self: flex-end;
    margin-bottom: 33px;
    transform: rotate(-90deg);
    display: inline-flex;
    align-items: center;
    gap: 7px;
    font-family: Syne;
    font-size: calc(8px + (13 - 8) * ((100vw - 300px)/ (1200 - 300)));
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 1.3px;
    color: var(--black);

    &-svg {
      transform: rotate(90deg);
      width: 13px;
      height: 12px;
    }
  }

  &__container-img {
    // width: 612px;
    // height: 408px;
    margin: 5px;
    border-radius: 12px;
    overflow: hidden;
  }

  &__img {
    max-width: 612px;
    max-height: 408px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}