.nav {
  &__menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2.125rem;
    margin-left: 10rem;
    margin-right: 1.75rem;
  }


  &__menu-link {
    color: var(--link);
    font-family: Syne;
    text-transform: uppercase;
    @include transition ($transition-property: color);

    &--active {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--black);
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  @media (hover: hover) {
    &__menu-link:hover {
      color: var(--black);
      & svg {
        fill: var(--black);
        @include transition ($transition-property: fill);
      }
    }
  }


  @media screen and (width < 1169px) {

    &__menu-list {
      margin-left: 50px;
      margin-right: 18px;
      gap: 15px;
    }
  }

  @media screen and (width < 641px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--gray);
    z-index: 2;
    height: 100vh;
    width: 100vw;
    @include transition ($transition-property: all);
    transform: translateY(-105%);

    &__menu-link {
      color: #FDFBF5;
      font-size: 18px;

      & svg {
        fill: var(--background);
      }

      &::after {
        display: none;
      }
    }

    &.menu-open {
      transform: translateY(0%);
      padding: 15px;

      .nav__menu-list {
        // padding: 50px 15px 0 15px;
        padding-top: 50px;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 20px;
        // margin: 0 auto;
        margin-left: 0;
        z-index: 2;
        height: 70vh;
        width: 60%;
      }
    }
  }
}