.portfolio {
  margin-top: calc(25px + (76 - 25) * ((100vw - 300px)/ 900));
  margin-bottom: calc(25px + (81 - 25) * ((100vw - 300px)/ 900));

  &__inner {
    display: flex;
    // align-items: center;
    column-gap: calc(25px + (120 - 25) * ((100vw - 300px)/ 900));
  }

  &__content {
    max-width: 370px;
    width: 100%;
    position: relative;

    &::before {
      position: absolute;
      content: url(../images/src/icons/portfolio-decor.svg);
      width: 88px;
      height: 63px;
      bottom: 40px;
      left: 0;
    }
  }

  &__text {
    margin-bottom: 39px;
  }

  &__container {
    position: relative;
    max-width: 670px;
    width: 100%;
    background-color: var(--black);
    border-radius: 15px;
    // height: 390px;
    // padding-bottom: 21px;
    margin-bottom: 21px;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--black);
      bottom: -21px;
    }
  }



  &__container-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    border-radius: 15px;

    &-text {
      display: inline-flex;
      padding: 28px 18px;
      color: var(--white);
      @extend %syne-600;
      // font-size: 1.5em;
      font-size: calc(14px + (24 - 14) * ((100vw - 300px)/ 900));
      line-height: 140%;
    }

    &-link {
      display: inline-flex;
      background-color: var(--white);
      color: var(--black);
      @extend %syne-600;
      // font-size: 12px;
      font-size: 0.75em;
      line-height: 140%;
      text-transform: uppercase;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 14px;
      padding: 6px 15px;
      border-radius: 3px;
      max-width: 90px;
      width: 100%;
      max-height: 30px;
      margin-right: 20px;

      &-svg {
        fill: var(--black);
      }
    }
  }

  &__temp {

    max-width: 670px;
    padding-top: 21px;
    padding-bottom: 21px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--black);
      bottom: 0;
    }
  }

  &__images {
    border-radius: 15px;
  }

  @media screen and (width < 781px) {
    &__inner {
      display: block;
    }

    &__content {
      max-width: 100%;
      &::before {
        display: none;
      }
    }

    &__inner-img {
      margin-top: 50px;
    }
  }

  @media screen and (width < 641px) {
    &__img-text {
      padding: 15px;
    }

    &__img-link {
      font-size: 10px;
      
    }
  }
}