.social {
  display: flex;
  align-items: center;
  column-gap: 15px;

  &__link-svg {
    width: 40px;
    // height: calc(30px + (40 - 30) * ((100vw - 300px)/ 900));
    border-radius: 50%;
    @include transition ($transition-property: fill);
  }

  &__item:hover &__link-svg {
    fill: var(--white);
    background-color: var(--black);
  }

}