.social {
  display: flex;
  align-items: center;
  column-gap: 15px;

  &__link-svg {
    width: calc(20px + (40 - 20) * ((100vw - 300px)/ 900));
    // height: calc(30px + (40 - 30) * ((100vw - 300px)/ 900));
    border-radius: 50%;
    @include transition ($transition-property: fill);
  }


    @media (hover: hover) {
      &__item:hover &__link-svg {
        fill: var(--white);
        background-color: var(--black);
      }
    }

    @media screen and (width < 971px) {
      // &__link-svg {
      //   width: 30px;
      //   height: 30px;
      // }
    }
  }