.social {
  display: flex;
  align-items: center;
  column-gap: calc(5px + (15 - 5) * ((100vw - 300px)/ (1200 - 300)));

  &__link-svg {
    width: calc(10px + (40 - 10) * ((100vw - 300px)/ (1200 - 300)));
    height: calc(10px + (40 - 10) * ((100vw - 300px)/ (1200 - 300)));
    border-radius: 50%;
    @include transition ($transition-property: fill);
  }

  &__item--margin-left {
    position: relative;
    padding-left: (calc(5px + (15 - 5) * ((100vw - 300px)/ (1200 - 300))));
    margin-left: (calc(5px + (15 - 5) * ((100vw - 300px)/ (1200 - 300))));
  }

  @media (hover: hover) {
    &__item:hover &__link-svg {
      fill: var(--white);
      background-color: var(--black);
    }
  }
}