.testimonial {
  & .hr-line {
    padding-top: calc(30px + (76 - 30) * ((100vw - 300px)/ (1200 - 300)));
    padding-bottom: calc(30px + (79 - 30) * ((100vw - 300px)/ (1200 - 300)));
  }

  position: relative;

  & .subtitle {
    text-align: center;

    &::after {
      position: absolute;
      content: url(../images/src/icons/quote.svg);
      top: 123px;
      left: 50%;
      transform: translatex(-50%);
      width: 70px;
      height: 60px;
      z-index: 1;
    }
  }

  &__slider {
    max-width: 830px;
  }

  &__blockquote {
    margin-top: 50px;
    padding: 0 15px;
  }

  &__blockquote-text {
    margin-bottom: 46px;
    color: var(--black);
    text-align: center;
    @extend %syne-500;
    font-size: 25px;
    line-height: 140%;
  }

  &__blockquote-name {
    display: block;
    color: var(--black);
    text-align: center;
    @extend %syne-600;
    font-size: 24px;
    line-height: normal;
    font-style: normal;

    & span {
      display: block;
      color: #666;
      font-family: Plus Jakarta Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 3.5px;
      text-transform: uppercase;
    }
  }

  &__blockquote-arrow {
    position: absolute;
    z-index: 5;
    height: 60px;

    @media screen and (width > 971px) {
      top: 32%;
    }

    & svg {
      cursor: pointer;
      @include transition ($transition-property: (color, fill));
    }
  }


  @media (hover: hover) {
    &__blockquote-arrow:hover svg {
      fill: rgba(#000000, .05);
    }
  }

  @media screen and (width < 481px) {
    &__blockquote-arrow svg {
      width: 61px;
    }
  }
}

.swiper {
  position: static;
}

.swiper-button-left {
  left: 0;
  bottom: 16px;
}

.swiper-button-right {
  right: 0;
  bottom: 16px;
}