.touch {
  padding-top: 60px;
  padding-bottom: 60px;

  &__btn {
    display: block;
    margin: 0 auto;
    color: #000;
    font-family: Syne;
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    & span {
      font-family: Syne;
      font-size: 100px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}