.work-proc {
  & .hr-line {
    padding-top: calc(30px + (75 - 30) * ((100vw - 300px)/ (1200 - 300)));
    padding-bottom: calc(30px + (96 - 30) * ((100vw - 300px)/ (1200 - 300)));
  }

  &__inner {
    padding-bottom: calc(30px + (81 - 30) * ((100vw - 300px)/ (1200 - 300)));
    border-bottom: 1px solid var(--black);
  }

  &__descr {
    display: flex;
    gap: 124px;
  }

  &__blockquote {
    padding: 10px;
    max-width: 440px;
    width: 100%;
    color: #333;
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    line-height: 140%;
    margin-left: 30px;
  }

  &__title {
    max-width: 570px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 244px;
      background-color: var(--black);
      top: 0;
      left: -62px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: (calc(30px + (75 - 30) * ((100vw - 300px)/ 900)));
  }

  &__images {
    background: var(--gray);
    max-width: 470px;
    height: 530px;
    border-radius: 15px;
    overflow: hidden;
  }

  &__img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__list {
    position: relative;
    max-width: 528px;
    width: 100%;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      max-height: 530px;
      background-color: var(--black);
      top: 0;
      bottom: 0;
      left: -101px;
    }
  }

  &__item {
    padding-left: 50px;
    position: relative;
    box-sizing: content-box;
    list-style: decimal-leading-zero;

    &:not(:last-child) {
      padding-bottom: 30px;
      margin-bottom: 20px;
    }

    & span {
      border: 1px solid #DDDDDD;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      position: absolute;
      top: -9px;
      left: -52px;
    }

    &::marker {
      background-color: #FDFBF5;
      @extend %syne-500;
      font-size: 1.25em;
      line-height: 140%;
      color: #aaa;
    }

    &:not(:last-child)::before {
      width: 430px;
      height: 1px;
      position: absolute;
      content: '';
      background-color: var(--black);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  & .subtitle-4 {
    margin-bottom: 13px;
  }

  &__text {
    padding: 0 10px 0 0;
    max-width: 438px;
  }

  @media screen and (width < 1169px) {
    &__descr {
      flex-direction: column;
      gap: 50px;
    }

    &__title {
      order: -1;
      max-width: 100%;
    }

    &__blockquote {
      max-width: 100%;
    }

    &__list {
      margin-left: auto;
    }
  }

  @media screen and (width < 791px) {

    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__images {
      margin-bottom: 30px;
    }

    &__list {
      margin: auto;

      &::before {
        display: none;
      }
    }

    &__item {
      padding-left: 30px;
    }

    &__text {
      max-width: 100%;
    }
  }

  @media screen and (width < 481px) {

    &__item {
      padding-left: 10px;
      width: 230px;
      margin-left: 50px;

      &::before {
        width: 70%;
      }

      & span {
        width: 45px;
        height: 45px;
        top: -8px;
        left: -41px;
      }
    }
  }
}

.slider {
  @media screen and (width > 1169px) {
    max-width: 440px;
  }
}